@import "variables";

html,
body {
  margin: 0;
  padding: 0;
  color:whitesmoke;
  height: 100vh;
}

body {
	font-size: 2em;
	font-family: sans-serif;
	background: $bg;
}

h1 {
  color: $primary-color;
  background-color: $bg;
}